.header {
	//.header__content
	&__content {
		max-width: 1320px;
		padding: 0 10px;
		margin: 0px auto;
	}
	// .header__menu
	&__menu {
		align-items: center;
		height: 100px;
		padding: 10px 0;
		display: flex;
		justify-content: space-between;
		@media (max-width: $md3+px) {
			height: 50px;
		}
	}
}

.menu {
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
		@media (max-width: $md3+px) {
			transform: translate(0px, -100%);
			transition: transform 0.8s ease 0s;
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			overflow: auto;
			padding: 80px 10px 30px 10px;
			background: rgba(255, 255, 255, 0.8);
			&._active {
				transform: translate(0px, 0%);
			}
		}
	}
	// .menu__list
	&__list {
		li {
			margin: auto 20px;
			white-space: nowrap;
		}
		@media (min-width: $md3+px) {
			display: flex;
		}
		@media (max-width: $md3+px) {
			li {
				margin: 0px 0px 10px 0px;
				&:last-child {
					margin: 0px 0px 10px 0px;
				}
			}
		}
	}
	// .menu__link
	&__link {
		font-family: Rubik;
		font-style: normal;
		font-size: 20px;
		font-weight: normal;
		color: #2f6a93;
		transition: color all 0.3s ease 0s;
		text-decoration: none;
		@media (min-width: $md2+px) {
			&:hover {
				color: #d37362;
			}
		}
		@media (max-width: $md3+px) {
			display: block;
			text-align: center;
			font-size: 40px;
			.logo {
				display: block;
				margin: 0 auto;
			}
		}
	}
}

.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #2f6a93;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
