@import "mixins";

//<Шрифты>==============================================================================================================
//Подключаем  шрифты через плагин
//medium - это 500, bold - это 700, black - это 900
//добавляем к шрифтам &display=swap и к кириллическим &subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Rubik:regular,500,700&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=regular,700,700italic&display=swap&subset=cyrillic-ext");

//<Шрифт по умолчанию>===================================================================================================
$fontfamily: "Rubik";
//<Конец Шрифты>==============================================================================================================

//<Иконки делаем в иконочный шрифт>=========================================================================================
//На сайте https://icomoon.io/app/#/select
@import "icons";
//<Конец иконки делаем в иконочный шрифт>=========================================================================================

//<Переменные>=========================================================================================================
$minWidth: 320px;
$maxWidth: 1440px;
$maxWidthContainer: 1160;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//<Конец Переменные>=========================================================================================================

//<ОСНОВНАЯ СЕТКА>==========================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	//	@media (max-width: $md1+px) {
	//		max-width: 970px;
	//	}
	@media (max-width: $md1+px) {
		max-width: 750px;
	}
	@media (max-width: $md2+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>==========================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>================================================================================================
@import "fonts";
@import "reset";
@import "header";
@import "home";
body {
	color: #272727;
}
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>================================================================================================

//<ОСНОВНОЙ БЛОК>==========================================================================================================================
.page {
	padding: 40px 0px 0px 0px;
	//flex: 1 1 auto;
}
//</ОСНОВНОЙ БЛОК>==========================================================================================================================
